* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* -- HEADER -- */
.header {
    padding: 0 30px;
    background-color: rgb(65, 161, 53);
    overflow: hidden;
    height: 64px;
}

.nav-logo {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 64px;
}

.nav-green {
    color: #d4f7ce;
}

.nav-bar {
    float: right;
    line-height: 64px;
}

.nav-links {
    list-style: none;
    display: inline-block;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-cta {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: white;
    color: rgb(65, 161, 53);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    vertical-align: middle;
}


/* -- HERO --- */

.hero h1 {
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin-bottom: 10px;
    float: left;
    
    
}

.hero a {
    text-decoration: none;
    background-color: #3ea63e;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    
    cursor: pointer;
    
}

.turbine {
    border-color: silver;
    
}

.hoppy {
    background-color: #3ea63e;
    border-radius: none;
    border-radius: 0px;
    float: right;
}

/* -- SERVICES -- */
.services {
color: blue;
    
}

.service-items {
    color: green;
}

.services h2 {
    color: #3ea63e;
    font-size: 30px;
}

.services p {
    font-size: 15px;
}

/* -- NEWS -- */
.news h1 {
    color: #3ea63e;
    font-size: 30px;
}

