* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* -- HEADER -- */
.header {
    padding: 0 30px;
    background-color: rgb(65, 161, 53);
    overflow: hidden;
    height: 64px;
}

.nav-logo {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 64px;
}

.nav-green {
    color: #d4f7ce;
}

.nav-bar {
    float: right;
    line-height: 64px;
}

.nav-links {
    list-style: none;
    display: inline-block;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-cta {
    text-decoration: none;
    color: white;
    font-weight: bold;
}